<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>yourdotfiles gathers all your dotfiles</title>
  <link href="css/main.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/names.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>All your dotfiles are belong to us</h1>
    </div>

    <div id="main">
      <ul>
      </ul>
    </div>

  </div><!-- container -->
</body>
</html>
